@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(48, 48, 48);
    font-family: "Tomorrow", sans-serif;
}

.titulo {
    background-image: linear-gradient(to bottom, rgb(255, 0, 204), rgb(0, 255, 204));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    color: rgb(157, 157, 160);
    font-size: 30px;
    margin-top: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    justify-content: center;
}

.card {
    border-top: 35px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.card a {
    background-image: linear-gradient(to bottom, rgb(255, 0, 204), rgb(0, 255, 204));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 40px;
    font-family: "Tomorrow", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-top: 300px;
    font-weight: bold;
}

 .card a:hover {
    background-image: linear-gradient(to bottom, rgb(108, 0, 86), rgb(0, 131, 105));
} 

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 90px;
    }

    .card a {
        font-size: 45px;
    }
}

@media (max-width: 480px) {
    .card-container {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .card {
        width: 150px;
        height: 150px;
    }

    .card a {
        font-size: 16px;
    }
}
